*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {

        padding-left: 0px;
        color: white;

    }

.container {

        overflow: hidden;
        width: 100%;
        min-height: 100vh;
    }

nav {

        justify-content: space-between;
        display: flex;
        align-items: center;
        background-color: black;
        padding: 0% 2%;
    }

.nav-bar {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

.nav-bar li {

        font-family: 'Roboto Mono', monospace;
        list-style: none;
        padding-right: 50px;

    }

.nav-bar li a {

        display: flex;
        color: white;
        text-decoration: none;
        opacity: 0.8;

    }

 .nav-bar li a:hover {

        opacity: 1;
        transition: 0.5s;
    }


.button {

        display: flex;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        width: 6rem;

    }

.button li {

        list-style: none;
        padding-left: 2rem;
        
    }

.button li a {

        color: white;
        border: 2px solid #fff;
        padding: 10px 20px;
        text-decoration: none;
        opacity: 1;
        
    }


.grid {

    height: 25vh;
    width: 100%;

}

.item1{

    margin: 4rem 0rem;
    text-align: center;

}

.item1 p {

    font-size: 2rem;
    font-family: 'Space Mono', monospace;
}

.item1 h1 {

    font-size: 4rem;
    font-family: 'Space Mono', monospace;

}

.item1 h2 {

    margin: 20px 0px 10px;
    font-family: 'Space Mono', monospace;
}   

.contact-form {

    font-family: 'Roboto Mono', monospace;
    width: 85%;
    max-width: 600px;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    border-radius: 2%;
    text-align: center;
}

.form {

    border: 1px solid black;
    margin: 7px 0px;
    padding: 6px 20px;
    border-radius: 8px;
}

.form label {

    font-size: 12px;
    color: black;
    text-align: left;
    text-transform: uppercase;
}

.form input, .form textarea {

    width: 100%;
    font-size: 19px;
    margin-top: 5px;
    border: none;
    background: none;
    outline: none;
}

.submit {

    width: 25%;
    display: inline-block;
    background-color: black;
    padding: 14px 0px;
    text-decoration: none;
    margin-top: 8px;
    color: white;
}

.footer {

    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 0px;
    font-family: 'Space Mono', monospace;
}

.social {

    text-align: center;

}

.social a {

    font-size: 30px;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 10px 10px;
    opacity: 1;

}

.footer ul {

    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li {

    display: inline-block;
    padding: 10px 10px;
}

.footer ul li a {

    color: black;
    text-decoration: none;
    opacity: 0.5;
    
}

.footer ul li a:hover {

    opacity: 1;
    transition: 0.5s;
}

.copyright {

    text-align: center;
    font-size: 15px;  
}

.burger {

    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 25px;
}

.line1 {

    width: 33px;
    background:white;
    margin: 3px 3px;
    height: 4px;
}


@media only screen and (max-width: 800px) {

    .container {

        height: 110vh;
        overflow: hidden;
    }

    .logo {

        position: absolute;
        right: 60%;
        top: 0.7%;
    }

    .nav-bar {

        flex-direction: column;

    }

    .navbar {

        flex-direction: column;
        transition: all 0.8s ease-out;
        height: 220px;
    }

    .burger {

        display: block;
    }

    .h-nav {

        height: 72px;
    }

    .v {

        opacity: 0;
    }

    .nav-bar li {

        padding: 15px 0px;

    }

    .grid .blog .footer {

        display: flex;
        flex-direction: column-reverse;
    }

    .item1 {

        margin-top: 50px;
    }

    .item1 p {

       font-size: 20px;

    }

    .item1 h1 {

        font-size: 40px;
    }

    .item1 h2 {

        font-size: 20px;
    }
    
    .footer {

        position: absolute;
        top: 95%;
    }
}
